@page
@model AmplaSettingsEditor.Pages.AmplaFields.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AmplaField</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AmplaField.Id" />
            <div class="form-group">
                <label asp-for="AmplaField.Name" class="control-label"></label>
                <input asp-for="AmplaField.Name" class="form-control" />
                <span asp-validation-for="AmplaField.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmplaField.NameEnglish" class="control-label"></label>
                <input asp-for="AmplaField.NameEnglish" class="form-control" />
                <span asp-validation-for="AmplaField.NameEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmplaField.NameRussian" class="control-label"></label>
                <input asp-for="AmplaField.NameRussian" class="form-control" />
                <span asp-validation-for="AmplaField.NameRussian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmplaField.NameFull" class="control-label"></label>
                <input asp-for="AmplaField.NameFull" class="form-control" />
                <span asp-validation-for="AmplaField.NameFull" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmplaField.RpId" class="control-label"></label>
                <input asp-for="AmplaField.RpId" class="form-control" />
                <span asp-validation-for="AmplaField.RpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmplaField.RpNameFull" class="control-label"></label>
                <input asp-for="AmplaField.RpNameFull" class="form-control" />
                <span asp-validation-for="AmplaField.RpNameFull" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmplaField.SapId" class="control-label"></label>
                <input asp-for="AmplaField.SapId" class="form-control" />
                <span asp-validation-for="AmplaField.SapId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmplaField.CreatedDate" class="control-label"></label>
                <input asp-for="AmplaField.CreatedDate" class="form-control" />
                <span asp-validation-for="AmplaField.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmplaField.CreatedBy" class="control-label"></label>
                <input asp-for="AmplaField.CreatedBy" class="form-control" />
                <span asp-validation-for="AmplaField.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
